.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}